.cabecalho {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
    
}

.logo {
    max-width: 10%;
}

.cabecalho__barra-pesquisa {
    background: var(--background-input);
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    color: var(--branco);
    font-size: 1rem;
    height: 3.5rem;
    padding: 1rem 0.9rem;
    width: 50%;
}

.cabecalho__perfil {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    max-width: 22%;
}

.cabecalho__perfil___usuario {
    color: var(--branco);
    font-size: 1rem;
    margin-left: 0.5rem;
}

.botao-hamburgue {
    display: none;
}

@media screen and (max-width: 768px) {
    .logo {
        max-width: 30%;
    }

    .cabecalho__imagem-logo {
        width: 70px;
    }

    .cabecalho__barra-pesquisa {
        width: 70%;
        height: 30px;
    }
    
    .cabecalho__perfil___imagem {
        display: none;
    }

    .botao-hamburgue {
        display: block;
    }

    .cabecalho__perfil{
        width: 10%;
    }
    
    .cabecalho__perfil___usuario {
        display: none;
    }
   
}

@media screen and (max-width: 375px) {
    .cabecalho__barra-pesquisa {
        display: none;
    }

}