.cabecalho {
    margin-bottom: 2rem; 
    display: flex;   
    width: 100%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    max-width: 25%;
}

.input-perfil {
    display: flex;
    justify-content: space-between;
    width: 75%;
}

.cabecalho__barra-pesquisa {
    background: var(--background-input);
    border: none;
    border-radius: 10px;
    box-sizing: border-box;
    color: var(--branco);
    font-size: 1rem;
    height: 3.5rem;
    padding: 1rem 0.9rem;
    width: 67%;
   
}

.cabecalho__perfil {
    align-items: center;
    display: flex;
    justify-content: flex-end;
    width: 33%;
    
}

.cabecalho__perfil___usuario {
    color: var(--branco);
    font-size: 1rem;
    margin-left: 0.5rem;
}

.botao-hamburgue {
    display: none;
}

@media screen and (max-width: 768px) {
    
    .cabecalho__imagem-logo {
        width: 100%;
    }
    
    .input-perfil {        
        justify-content: space-between;
        width: 80%;
    }

    .cabecalho__barra-pesquisa {
        width: 80%;
        height: 30px;
        margin-left: 0.5rem;
    }
    
    .cabecalho__perfil___imagem {
        display: none;
    }

    .botao-hamburgue {
        display: block;
    }

    .cabecalho__perfil{
        width: 10%;
    }
    
    .cabecalho__perfil___usuario {
        display: none;
    }
   
}

@media screen and (max-width: 375px) {
    .cabecalho__barra-pesquisa {
        display: none;
    }

    .input-perfil {        
        justify-content: flex-end;
        
    }
}