.container__menu {
    width: 21vw;
}

.container__menu___lista {
    display: flex;
    flex-direction: column;
}

.container__menu___titulo {
    color: var(--branco);
    font-size: 0.75rem;
    margin-bottom: 1rem;
    margin-left: 0.2rem;
    text-transform: uppercase;
}

.container__menu___lista {
    margin: 0;
}

.container__menu___item {
    list-style: none;
    margin-bottom: 1rem;

}

.item__link {
    align-items: center;    
    color: var(--branco);
    display: flex;
    font-size: 1rem;
    opacity: 0.16;
    text-decoration: none;
}

.item__link:hover {
    opacity: 1;
}

.item__link:active {
    opacity: 0.5;
}

.item__link:focus {
    opacity: 0.8;
}

.selecionado {
    opacity: 1;
}

.item__imagem {
    background: var(--azul);
    border-radius: 10px;
    padding: 1rem;
    margin-right: 0.5rem;    
    
}

@media screen and (max-width: 768px) {
    .container__menu {
        display: none;
    }    
}