.container__projetos {
    display: flex;
    flex-wrap: wrap;
    width: 77vw;
}

.caixa-projetos {
    background: rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 30rem;
    margin-bottom: 3rem;
    margin-left: 1rem;
    width: 47%;
}

.caixa-projeto-textarea {
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    height: 18rem;
    padding: 1.5rem;
}

.projetos__link {
    text-decoration: none;
}

.projetos__pre {
    box-sizing: border-box;
    height: 100%;
    margin: 0rem;
}

.projetos__code {
    border-radius: 8px;
    box-sizing: border-box;
    height: 90%;
    margin: 0rem;
}

.caixa-cor-1 {
    background: #9AFF6B;
}

.caixa-cor-2 {
    background: #6B83FF;
}

.caixa-cor-3 {
    background: #FFC46B;
}

.caixa-cor-4 {
    background: #FF6BCD;
}

.container__projetos___textarea {
    background: var(--background-textarea);
    border: none;
    border-radius: 8px;
    box-sizing: border-box;
    color: var(--branco);
    font-size: 0.6875rem;
    height: 100%;
    padding: 2.125rem 0.75rem;
    resize: none;
    width: 100%;
}

.caixa-projeto-descricao {
    box-sizing: border-box;
    height: 8rem;
    padding: 1rem;
}

.container__projetos___titulo {
    color: var(--branco);
    font-weight: bold;
    font-size: 1.3125rem;
}

.container__projetos___descricao {
    color: rgba(255, 255, 255, 0.8);
    font-size: 1rem;
}

.botao-balao, .botao-coracao {
    border: none;
    background: rgba(0, 0, 0, 0);
    margin-right: 0.5rem;
}

.caixa-projeto-footer {
    align-items: center;
    box-sizing: border-box;
    display: flex;
    flex-wrap: nowrap;
    height: 4rem;
    justify-content: space-between;
    padding-bottom: 1rem;
    padding-top: 1rem;
    margin: 0 1rem;
}

.span-botoes {
    align-items: baseline;
    color: var(--branco);
    display: flex;
}

.caixa-projeto-aviso {
    color: var(--branco);
    text-align: center;
    width: 58vw;
    margin-top: 3rem;
}

.caixa-projeto-aviso a {
    text-decoration: none;
}

@media screen and (max-width: 768px) {
    .container__projetos {
        flex-direction: column;
        width: 90vw;
    }
    
    .caixa-projetos {
        height: auto;
        margin-left: 0;
        width: 100%;
    }

    .caixa-projeto-aviso {
        text-align: center;
        width: 100vw;
    }
    

}
